*{ font-family: 'Young Serif', serif;
   font-size: 14pt;
   padding: 0;
   margin: 0;}

.barraDeMenu{
    background-color: rgb(236, 176, 187);
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bm-title{
    color: white;
}
.menuList{
    display: flex;
    width: 500px;
    justify-content: space-around;

}
.menuList li{
    list-style: none;
}
.menuList li a{
    text-decoration: none;
    color: white;
}
.primerContenedor{
    background-image: ;
    background-position: center;

}
.primerContenedor h2{
 font-size: 2em;
 color: rgb(243, 200, 200);
}

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria h3{
    padding: 30px;
    text-align: center;
    font-size: 2em;
}
.galeria--cont{
    display: flex;
    width: 1040px;
    flex-wrap: wrap;
}
.item-img{
    width: 300px;
    height: 200px;
    overflow: hidden;
    padding: 10px;

}
.item-img img{
    width: 100%;

}
.us-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;


}
.us-article{
    width: 600px;
    line-height: 40px;
    text-align: justify;
}
.us-article h4{
    text-align: center;
    font-size: 2em;
}
.redes{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;
}
.img-redes{
    width: 100px;
    height: 90px;
    overflow: hidden;
    

}
.img-redes img{
    width: 100%;

}
.pie{
    background-color: rgb(236, 176, 187);
    height: 4em;
    text-align: center;
    color: white;
}
@media (max-width: 768px){  
    .galeria--cont {
        display: flex;
        flex-direction: column;
        width: 100%;
     }
     .primerContenedor h2{
        display: none;
     }
     .compra{
        flex-direction: column;
     }
     .us-article p{
        font-size: 12px;
     }

@media (max-width: 320px){
.item-img {
    width: 279px;
    height: 200px;
    overflow: hidden;
    padding: 0;
}
}
